@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 50px;
    background-color: black;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    z-index: 2;
    background: #EE1D52;
    font-size: 1.5rem;
    box-shadow: 0px 2px 1px #00eeff;
}

#navbar ul {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 0px 30px;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px #00eeff;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px #EE1D52;
    font-size: 5rem;
    padding-bottom: 0px;
    margin: 0px;
}

p {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 2px #00eeff;
}

#projects-header {
    padding: 50px 0px 50px 0px;
}

#projects {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 1px #00eeff;
}

.project-tile {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color:white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
    overflow: hidden;
}

.project-tile:after {
    background-image: url("resources/touch-here.gif");
}

.project-tile h3 {
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    padding: 100px;
    background: #EE1D52;
    z-index: 0;
    border-radius: 50px;
}

#touch-here {
    width: 100px;
    padding-top: 25vh;
    z-index: 1;
}

.project-tile.active {
    flex: 5;
    filter: none;
    position: relative;
}

.project-tile.active img {
    /*makes the hand appear on top*/
    position: absolute;
}

.project-tile.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

#contact {
    text-align: center;
    width: 100%;
    padding: 0 2rem;
    box-shadow: 0px 2px 1px #00eeff;
    padding-bottom: 50px;
}

#contact h2 {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 1px #EE1D52;
}

#contact-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#profile-link {
    transition: transform 0.3s ease-out;
    color: grey;
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding: 30px 30px;
    text-shadow: 1px 1px 1px #00eeff;
}

#profile-link:hover {
    transform: translateY(8px);
}

#profile-link:hover span {
    display: none;
}

.github:hover:after {
    content: "seanred360";
}

.callme:hover:after {
    content: "419-315-0646";
}

.emailme:hover:after {
    content: "seen360@yahoo.com";
}

.wechat:hover:after {
    content: "SeanRed360";
}
  
footer {
    color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #EE1D52;
}


@media(max-width: 744px) {
    .projects {
        width: 100vw;
    }

    .project-tile:nth-last-of-type(4),
    .project-tile:nth-of-type(5)
    .project-tile:nth-of-type(6) {
        display: none;
    }
}